@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Customize the text highlighter */
::selection {
  background-color: #ef4444; /* Highlight background (red) */
  color: #ffffff; /* Text color (white) */
}

::-moz-selection {
  background-color: #ef4444; /* Firefox support */
  color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.container {
  @apply max-w-[1140px] w-[90%] mx-auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

code,
pre {
  font-family: var(--font-roboto-mono); /* Mono font for code or special text */
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-pagination {
  bottom: 0px !important;
}

/* Custom Scrollbar Styling */
.broadcast-header::-webkit-scrollbar {
  height: 5px; /* Horizontal scrollbar height */
}

.broadcast-header::-webkit-scrollbar-thumb {
  background-color: #ef4444; /* Red scrollbar thumb */
  border-radius: 4px;
  cursor: pointer;
}

.broadcast-header::-webkit-scrollbar-thumb:hover {
  background-color: #be123c; /* Darker red on hover */
}

.broadcast-header::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Light gray background */
}
